.heroSection {
  position: relative;
  overflow: hidden;
}

.heroSection::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 4px solid var(--gold-500);
  border-radius: 32% 68% 68% 32% / 33% 31% 69% 67%;
  pointer-events: none;
}

/* PLAYER */
.playerImage {
  object-fit: cover;
  object-position: top;
}

.playerOverlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    135deg,
    rgba(255,215,0,.2),
    transparent 50%
  );
}

.playerWrapper h1 {
  margin-top: 2rem;
  font-size: var(--fs-xl);
  color: white;
  letter-spacing: 4px;
  text-shadow: 0 10px 30px rgba(0,0,0,.4);
}

.playerWrapper p {
  color: var(--gold-500);
  font-size: var(--fs-md);
  font-weight: 700;
}

/* BOTTOM */
.heroBottom {
  text-align: center;
  background: var(--purple-900); /* ou la même couleur que le hero */
}

.heroBottom blockquote {
  margin-bottom: 2rem;
  color: white;
  font-size: var(--fs-lg);
  font-style: italic;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .historicalAvatar {
    width: 90px;
    height: 90px;
  }

  .historicalAvatar span {
    font-size: 2rem;
  }
}