.historicalCard {
  text-align: center;
}

.historicalAvatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: rgba(255,255,255,.1);

  display: grid;
  place-items: center;

  font-size: 3rem;
  margin-bottom: 1rem;
}